.cabinet {
  &__row {
    display: flex;
    padding-top: 35px;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    &-wrap {
      width: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  &__head {
    font-size: 0.875rem;
    text-align: left;
    @media (max-width: 700px) {
      font-size: 0.675rem;
    }
  }
  &__tbody {
    td {
      height: 80px;
    }
  }
  &__main {
    &-title {
      padding-top: 40px;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 25px;
    }
    &-name {
      span {
        color: #147fc3;
        text-transform: uppercase;
        font-weight: 700;
      }
      margin-bottom: 15px;
      font-size: 16px;
    }
    &-class {
      span {
        color: #147fc3;
        text-transform: uppercase;
        font-weight: 700;
      }
      font-size: 16px;
    }
  }
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #147fc3;
    padding: 0.75rem;
    color: #147fc3;
    @media (max-width: 700px) {
      padding: 0.55rem;
    }
  }
  & tbody tr {
    background-color: #147fc3;
    & td {
      color: #fff;
    }
    .cabinet__grade-red {
      color: #fff;
    }
  }
  & tbody td {
    padding: 0.75rem;
    vertical-align: middle;
    font-weight: 600;
    color: #c1c3cf;

    border: none;
    font-size: 14px;
  }
  & tbody td p {
    font-size: 14px;
  }
  &__grade-red {
    width: 32px;
    background: transparent;
    color: #c1c3cf;
    font-weight: 600;
    font-size: 14px;
  }
}

.tabs-cabinet {
  &__row {
    display: flex;
    margin: 0 -10px;
    padding-top: 25px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 1 10%;
    padding: 0 10px;
  }
  &__button {
    button {
      display: inline-block;
      height: 32px;
      padding: 0px 25px;
      background-color: #147fc3;
      &:hover {
        @include anim(0.3s, 0s);
        background: #c1c3cf;
      }
      position: relative;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      font-weight: 700;
    }
  }
}
.tabs-cabinet__button.active {
  button {
    background: #c1c3cf;
  }
}
